@import url("https://fonts.cdnfonts.com/css/general-sans");
@import "tailwindcss";

* {
  scroll-behavior: smooth;
}

body,
html {
  background: #010103;
  font-family: "General Sans", sans-serif;
  scroll-behavior: smooth;
}

@layer utilities {
  .c-space {
    @apply sm:px-10 px-5;
  }
}

.waving-hand {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

.arrow-gradient {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.1) 10%,
    rgba(255, 255, 255, 0.000025) 50%,
    rgba(255, 255, 255, 0.000025) 50%,
    rgba(255, 255, 255, 0.025) 100%
  );
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(14deg);
  }
  30% {
    transform: rotate(-8deg);
  }
  40% {
    transform: rotate(14deg);
  }
  50% {
    transform: rotate(-4deg);
  }
  60% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@layer base {
  @font-face {
    font-family: "Poppins";
    src: url("/assets/font/Poppins-Regular.ttf");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
}
@layer base {
  @font-face {
    font-family: "Poppins-light";
    src: url("/assets/font/Poppins-Light.ttf");
    font-weight: 300;
    font-display: swap;
    font-style: normal;
  }
}
@layer base {
  @font-face {
    font-family: "Poppins-medium";
    src: url("/assets/font/Poppins-Medium.ttf");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
  }
}
@layer base {
  @font-face {
    font-family: "Poppins-semi-bold";
    src: url("/assets/font/Poppins-SemiBold.ttf");
    font-weight: 600;
    font-display: swap;
    font-style: normal;
  }
}
@layer base {
  @font-face {
    font-family: "Poppins-bold";
    src: url("/assets/font/Poppins-Bold.ttf");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
  }
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}
.font-poppins-light {
  font-family: "Poppins-light", sans-serif;
}
.font-poppins-medium {
  font-family: "Poppins-medium", sans-serif;
}
.font-poppins-semi-bold {
  font-family: "Poppins-semi-bold", sans-serif;
}
.font-poppins-bold {
  font-family: "Poppins-bold", sans-serif;
}

/* loader **/
.loader {
  color: rgb(124, 124, 124);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 40px;
  padding: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 8px;
}

.words {
  overflow: hidden;
  position: relative;
}
.words::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 20;
}

.word {
  display: block;
  height: 100%;
  padding-left: 6px;
  color: #fcc603;
  animation: spin_4991 4s infinite;
}

@keyframes spin_4991 {
  10% {
    -webkit-transform: translateY(-102%);
    transform: translateY(-102%);
  }

  25% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  35% {
    -webkit-transform: translateY(-202%);
    transform: translateY(-202%);
  }

  50% {
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
  }

  60% {
    -webkit-transform: translateY(-302%);
    transform: translateY(-302%);
  }

  75% {
    -webkit-transform: translateY(-300%);
    transform: translateY(-300%);
  }

  85% {
    -webkit-transform: translateY(-402%);
    transform: translateY(-402%);
  }

  100% {
    -webkit-transform: translateY(-400%);
    transform: translateY(-400%);
  }
}
